@charset "UTF-8";

.msg {
	color: red;
}

body {
	background-color: #ffffff;
	margin: 0;
	text-align: center;
}

h1 {
	background-color: #ffffff;
}

.phoneBook {
	color: #339966;
	text-align: left;
}

.data {
	color: #339966;
	text-align: left;
}

#table {
	margin-left: auto;
	margin-right: auto;
}

.accountInfo {
	margin-top: 20px;
	margin-right: 10px;
	text-align: right;
}

.toRegistButton {
	background-color: #ff0000;
}

.searchButton {
	background-color: #66ccff;
}

.toUpdateButton {
	color: #3366ff;
}

.toDeleteButton {
	color: #cc9900;
}

.toPreviousPageButton {
	color: #0033ff;
}

.toNextPageButton {
	color: #0033ff;
}

.backButton {
	background-color: #4689ff
}

.registButton {
	background-color: #ff0000;
}

.button {
	display: inline-flex;
	margin-bottom: 10px;
}
